{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About TEACH MUSIC SCHOOL</title>
</head>
<body>
    <section class="header">
      <nav style="background-color:black;"> 
            <h2 class="heading">TEACH MUSIC SCHOOL</h2>
            <div class="nav-links" id="navLinks">
                <i id="hide-menu" class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'book' %}">Book Now</a></li>
                    <li><a href="{% url 'about' %}" class="active">About Us</a></li>
                </ul>
            </div>
            <i id="show-menu" class="fa fa-bars" onclick="ShowMenu()"></i>
        </nav>

        <div class="about-section">
  <h1>TEACH MUSIC SCHOOL</h1>
  <p>Our professional approach and continual development has led us to becoming the leading provider of professional music education. We combine innovative, fun and creative ways to teach music and engage with students to reach their full potential. Innovative music lessons and classes from beginner through advanced for children, teens, and adults. We are the best music school for you. We have programs to suit everyone’s needs.
    We are the only professional music school offering lessons for children, adults and seniors</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="card" id="card1">
    <img src="{% static 'images/eric.jpeg' %}">
    <div class="container">
      <h2>Eric T</h2>
      <p class="title">CEO & Founder</p>
    </div>
</div>

<div class="card" id="card2">
  <img src="{% static 'images/mary.jpeg' %}">
  <div class="container">
    <h2>Mary W</h2>
    <p class="title">MANAGER</p>
  </div>
</div>
<!-- <div class="row">
    <div class="card">
      <img src="images/11.jpg" alt="Jane">
      <div class="container">
        <h2>Eric T</h2>
        <p class="title">CEO & Founder</p>
        -- <p>Some text that describes me lorem ipsum ipsum lorem.</p> 
        
      </div>
    
  </div>

  <!-- <div class="column"> 
    <div class="card">
      <img src="images/8.jpg" alt="Mike">
      <div class="container">
        <h2>Mary W</h2>
        <p class="title">Art Director</p>
        -- <p>Some text that describes me lorem ipsum ipsum lorem.</p> 
         
      </div>
    </div>
  </div> -->
  
  <!-- <div class="column">
    <div class="card">
      <img src="images/3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         
      </div>
    </div>
  </div> -->
</div>
<div>
  <h1>Locate Us</h1>
  <p class="locate">We are located in Kileleshwa along Mugoiri Rd off Othaya Rd same compound with KIleleshwa Academy</p>
</div>
<h5>Follow Us On Social Platforms</h5>
<!-- Social Media Buttons HTML -->
<div class="wrapper">
  <a href="https://www.facebook.com/EricOnTheWinningSide/" class="icon facebook">
    <div class="tooltip">Facebook</div>
    <span><i class="fa fa-facebook-f"></i></span>
  </a>
  <a href="https://youtube.com/c/ERICONTHEWINNINGSIDE" class="icon youtube">
    <div class="tooltip">Youtube</div>
    <span><i class="fa fa-youtube"></i></span>
  </a>
  <a href="https://instagram.com/eric_on_the_winning_side?utm_medium=copy_link" class="icon instagram">
    <div class="tooltip">Instagram</div>
    <span><i class="fa fa-instagram"></i></span>
  </a>
</div>
<footer class="credit">CREATED BY: SMITH MURICHO MORGAN. +254746910796||ALL RIGHTS RESERVED&copy;2022</footer>

 <!-- <p>javascript for toggle menu</p> -->
    <script>
        var navLinks = document.getElementById("navLinks");
    function ShowMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }
    </script>

</body>
</html>