{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TEACH MUSIC SCHOOL</title>
</head>
<body>
    <section class="header">
        <nav>
            <h2 class="heading">TEACH MUSIC SCHOOL</h2>
            <div class="nav-links" id="navLinks">
                <i id="hide-menu" class="fa fa-times" onclick="hideMenu()"></i>
                
                <ul>
                    <li><a href="{% url 'index' %}" class="active">Home</a></li>
                    <li><a href="{% url 'book' %}">Book Now</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                </ul>
            </div>
            <i id="show-menu" class="fa fa-bars" onclick="ShowMenu()"></i>
<div class="text-box">
    <h1>TEACH MUSIC SCHOOL</h1>
    <p>HEAR IT &centerdot; SEE IT &centerdot; LIVE IT </p>
 <a href="https://wa.me/+254748770081" target="_blank" class="hero-btn"> CHAT WITH US ON WHATSAPP</a> 
</div>
    </section>
<!-- <P>course</P> -->
<section class="course">
    <h1>Classes We Offer</h1>
    <P>We Offer the following classes.</P>
    <div class="row">
        <div class="course-col">
            <h3>Private Classes</h3>
            <P>You can learn music from the comfort of your home/office. We will just assign you your trainer.</P>
        </div>
        <div class="course-col">
            <h3>Online</h3>
            <P>You can learn music from anywhere in the world.All you need is book your Class</P>
        </div>
        <div class="course-col">
            <h3>Learn from Our Center</h3>
            <P>Welcome everyone to our centre in Lavington to Learn any music instrument of your choice</P>
        </div>
    </div>
</section>
<!-- music groups-->
<section class="instruments">
    <h1> Music Groups</h1>
    <p>for</p>
    <div class="row">
        <div class="instrument-col">
            <img src="{% static '13.jpg' %}">
            <h3>KIDS</h3>
            <P style="color: black;">Our school is a solution for families who would like to expose their children to the world of music.</P>
        </div>
        <div class="instrument-col">
            <img src="{% static '6.jpg' %}">
            <h3>TEENS</h3>
            <P style="color: black;">Our classes help to develop the skills necessary for music learning and lifelong enjoyment of music</P>
        </div>
        <div class="instrument-col">
            <img src="{% static '9.jpg' %}">
            <h3>Adults</h3>
            <P style="color: black;">We have programs for everyone. In addition to teaching music to children, we instruct adults and seniors</P>
        </div>


    </div>
</section>
<section class="testimonial">   
    <h2>What Our Students Says</h2>
    <p>The best learning guidance you get here.</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="{% static '11.jpg' %}">
            <div>
                <p style="color: black;">I have a great experience taking violin lessons at the comfort of my home. it is a great pleasure working with the professionals</p>
                <h3>Linda Kimaiyo</h3>
            </div>
        </div>
        <div class="testimonial-col">
            <img src="{% static '11.jpg' %}">
            <div>
                <p style="color: black;">My sons experience has been wonderful, he has been working with Tr. Eric and this is what had to say 'He an amazing teacher, he helps understand, teaches so well and always reminds me to practice.'</p>
                <h3>Altrine Obiero</h3>
            </div>
        </div>
    </div>

</section>
 
<section class="cta"> 
    <h1>Enroll for our various online courses<br>Anywhere from the world</h1>
    <a href="https://wa.me/+254748770081" target="_blank" class="hero-btn">WHATSAPP US</a>

</section> 
<h5>Follow Us On Social Platforms</h5>
 <!-- Social Media Buttons HTML -->
<div class="wrapper">
    <a href="https://www.facebook.com/EricOnTheWinningSide/" class="icon facebook">
      <div class="tooltip">Facebook</div>
      <span><i class="fa fa-facebook-f"></i></span>
    </a>
    <a href="https://youtube.com/c/ERICONTHEWINNINGSIDE" class="icon youtube">
      <div class="tooltip">youtube</div>
      <span><i class="fa fa-youtube"></i></span>
    </a>
    <a href="https://instagram.com/eric_on_the_winning_side?utm_medium=copy_link" class="icon instagram">
      <div class="tooltip">Instagram</div>
      <span><i class="fa fa-instagram"></i></span>
    </a>
  </div>
  <footer class="credit">CREATED BY: SMITH MURICHO MORGAN. +254746910796||ALL RIGHTS RESERVED&copy;2022</footer>
  
    <!-- <p>javascript for toggle menu</p> -->
    <script>
        var navLinks = document.getElementById("navLinks");
    function ShowMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }
    </script>
</body>
</html>