*{
    margin:0;
    padding: 0;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../images/10.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
.fa-times{
    color:#6cf436;
    padding-left: 50px;
    padding-top: 20px;
}
.heading{
    color: white;
    font-size: 600;
    font-family: sans-serif;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links .active {
    text-decoration: underline;
    /* text-decoration-line: 3px solid underline; */
    text-decoration-color: #f44336;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid#fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
   display: none;
}
@media(max-width:768px){
    .text-box h1{
        font-size: 20px;
    }
    .heading{
        font-size: 18px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
}
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background: #cab3b3;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.instrument-col{
    flex-basis: 31%;
    border-radius: 5px;
    margin-bottom: 5%;
    text-align: left;
}
.instrument-col p{
    padding: 0;
}
.instrument-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.instrument-col img{
    width: 100%;
    border-radius: 10px;

}
@media(max-width:768px){
    .row{
        flex-direction: column;
        display: flex;
    }
    .instrument-col img{
        width: 100%;
    }
    .instrument-col{
        margin-right: 25px;
    }

   
}
.instruments{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    /* margin: 70px 0; */
    /* margin-top: auto; */
    border-radius: 10px;
    
}
.instrument-col{
    flex-basis: auto;
    margin-right: 25px;
}
img {
    height: 200px;
    width: 280px;
}
.testimonial{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #bbb0b0;
    padding: 25px;
    cursor: pointer;
    display: flex;
    
}
.testimonial-col img{
    height: 50px;
    width: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 60%;

}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/01.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:768px){
    .cta h1{
        font-size: 24px;

    }
}

/* socia media icons styling */
  
  .wrapper{
      /* background: #ddd; */
      padding: 50px;
      text-align: center;
      /* margin-bottom: 20px; */
  }
  
  .wrapper .icon{
    position: relative;
    background-color: #ddd;
    border-radius: 50%;
    /* margin: 2px; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;

  }
  
   
  .credit{
      text-align: center;
      background-color:black;
      /* height: 30px; */
      /* padding: 20px; */
      color: #fff;
      font-family: cursive;
      font-size: 22px;
  }
  h5{
      text-align: center;
  }
  @media(max-width:768px){
    .credit{
        font-size: 12px;
    }
    .wrapper{
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }
    h5{
        margin-bottom: 50px;
      }
      .testimonial-col{
         text-align: justify;
         height: 2%;
      }
  }
  .course-col p{
      color: rgb(32, 26, 26);
      /* font-weight: bold; */
  }